/*ALL CONTENT*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2, h3, h4, h5 {
  padding: 10px;
}

p { /*Only used in locations*/
  margin: 22px 0;
}

/*HEADER*/
header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: inherit;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  padding: 0 10px;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: underline;
}

.logo {
height: 50px;
  margin-left: 10px;
}

/*MAIN*/
.main-content {
  width: 1200px;
  padding-top: 70px;
}

/**MISSION SECTION**/
#mission {
  height: 700px;
  padding-top: 70px; /*match bottom of image with sample*/
  background-image: url(../images/img-mission-background.jpg);
  display: flex;
  align-items: center;
}

.section-content {
  width: 100%;
  background-color: black;
}

/**FEATURED-TEA SECTION**/
#featured-tea {
  width: 1000px;
  padding: 70px 0;
  margin: auto;
}

.container { /*also used in locations section*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-box {
  padding: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.tea-box img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/**LOCATIONS SECTION**/
#locations {
  height: 500px;
  padding-top: 70px; /*match bottom of image with sample*/
  background-image: url(../images/img-locations-background.jpg);
}

.location {
  width: 300px;
  margin: 5px 20px;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

/*CONTACT SECTION*/
#contact {
  height: 200px;
}

/*FOOTER*/
footer {
  margin-left: 20px;
  text-align: left;
}
